
.skill {
  absolute: top left
  background: #e6ecf0
  border: 1px solid #87AFC7
  border-radius: 2px
  color: black
  overflow: hidden
  padding: 6px
  text-decoration: none
  text-overflow: ellipsis
  whitespace: nowrap

  &:active, &:focus {
    border-color: #7793A8
  }
}

