<section class="home" style="height: {{skillsHeight}}px">
  <div class="category" ng-repeat="category in categories" ng-style="category" style="width: {{skillsWidth}}px">
    <span class="categoryText">{{category.name}}</span>
  </div>
  <div class="year" ng-repeat="year in years" ng-style="year"></div>
  <div ng-repeat="skill in skills"
    id="container-{{skill.id}}"
    class="skill-container {{skill.state}}"
    ng-class="{{skill.dependencies}}"
    ng-style="skill.layout"
    ng-mouseenter="log('ng-mouseenter'); showDependenciesOrOpen($event, skill)"
    ng-mouseleave="log('ng-mouseleave'); clear($event, null)"
    ng-click="log('ng-click'); showDependenciesOrOpen($event, skill)">
    <a href="#" id="{{skill.id}}" class="skill" title="{{skill.title}}">{{skill.title}}</a>
    <p class="description {{skill.detail}}">{{skill.description}}</p>
    <p class="detail-close" ng-click="close($event, skill)">X</p>
  </div>
  <nav class="timeline" style="width: {{skillsWidth}}px" scroll-with-page>
    <div class="timelineNotch {{(notch.month % 12 == 0) ? 'year' : ''}}" ng-repeat="notch in timelineNotches" ng-style="notch"></div>
  </nav>
  <section class="skill-detail" ui-view></section>
</section>
<nav class="topBar">
  <span style="font-size: 11px; color: red;">{{notice}}</span>
</nav>
