
.skill {
  absolute: top 10px left 10px
  background: #AFDEF0
  border: 6px solid #87AFC7
  border-radius: 6px
  color: black
  overflow: hidden
  padding: 6px
  text-decoration: none
  text-overflow: ellipsis
  whitespace: nowrap

  &:active, &:focus {
    border-color: #7793A8
  }
}

