
timelineHeight = 50px

.topBar {
  background: black
  color: white
  fixed: top left
  height: 40px
  width: 100%
}

.home {
  box-sizing: content-box
  padding-bottom: timelineHeight
  position: relative
}

.category {
  top: 40px
  position: relative

  .categoryText {
    absolute: top 260px left
    color: white
    display: block
    font-size: 30px
    text-align: right
    transform: rotate(-90deg)
    transform-origin: top left
    width: 250px
  }

  &:first-of-type .categoryText {
    top: 300px
  }
}

.dependencyLines {
  absolute: top left
}

.skill-container {
  absolute: top left
  background: rgba(255, 255, 255, 0.6)
  border: 1px solid rgba(0, 0, 0, 0.3)
  border-radius: 2px
  color: black
  overflow: hidden
  padding: 6px

  &:hover, &.active {
    box-shadow: 0px 0px 40px white
    border-color: #7793A8
    text-decoration: none
    background: rgba(255, 255, 255, 0.9)
  }

  & p.description {
    margin-top: 16px
    width: 440px
  }

  &.detail {
    width: 480px !important
    height: 240px !important
    background: rgba(255, 255, 255, 0.9) !important
    z-index: 100
    transition width 300ms, height 300ms
  }

  & p.detail-close {
    background-color: #b00
    color: white
    padding: 0 5px
    font-size: 0.8em
    position: absolute
    top: 2px
    left: 458px
    &:hover {
      cursor: pointer
    }
  }

  &.dependency {
    box-shadow: 0 0 20px white
    background: rgba(255, 255, 255, 0.75)
  }

  &.hide-dependency {
    background: rgba(255, 255, 255, 0.3)
  }
}

.skill {
  text-decoration: none
  text-overflow: ellipsis
  whitespace: nowrap

  &:hover, &.active {
    text-decoration: none
  }
}

.timeline {
  color: white
  background: #2B2B2B
  absolute: bottom left
  height: timelineHeight
  position: fixed
  width: 100%
}

.timelineNotch {
  absolute: bottom left
  background: rgba(255, 255, 255, 0.75)
  height: 20px
  width: 2px
}

.year {
  absolute: bottom left
  background: rgba(255, 255, 255, 0.75)
  height: 100%
  width: 4px

  margin-left: -(@width / 2)
}

