
@import "nib"

global-reset()
reset-html5()

* {
  box-sizing: border-box
}

html, body {
  background: #D4D4D4
  font-family: Noto Sans, sans-serif
}

@import "../views/home"
@import "../views/modal"
